---
# tasks file for wordpress

- name: Download WordPress
  get_url:
    url: 'https://wordpress.org/latest.tar.gz'
    dest: '/tmp/wordpress.tar.gz'
    validate_certs: 'no'

- name: Extract WordPress
  unarchive: 
    src: '/tmp/wordpress.tar.gz' 
    dest: '/var/www/'
    copy: no
  become: yes

- name: Update default Apache site
  become: yes
  lineinfile:
    dest: '/etc/apache2/sites-enabled/000-default.conf'
    regexp: '(.)+DocumentRoot /var/www/html'
    line: 'DocumentRoot /var/www/wordpress'
  notify:
    - restart apache

- name: Copy sample config file
  command: 'mv /var/www/wordpress/wp-config-sample.php /var/www/wordpress/wp-config.php 
creates=/var/www/wordpress/wp-config.php'
  become: yes

- name: Wordpress | Copy wp-config.php file content
  template:
    src: wp-config.php.j2
    dest: "{{ wp_install_dir }}/wp-config.php"
